---
import "@styles/general.css";
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import PageBanner from "@components/PageBanner.astro";
import TitleSection from "@components/TitleSection.astro";
---

<Layout title="Contact">
  <SectionContainer id="contact">
    <main>
      <PageBanner title="Works" />
      <section class="mt-10">
        <TitleSection title="Artist Books" />
      </section>
    </main>
  </SectionContainer>
</Layout>
