---
import BannerImg from "/public/bannerimg.jpg";
import { Image } from "astro:assets";

const IMAGES = {
  Hero: "/public/heroSlider/hero-1.jpg",
  Profile: "/public/heroSlider/hero-2.jpg",
  About: "/public/heroSlider/hero-3.jpg",
};
---

<section class="my-10 mx-auto">
  <div class="grid grid-cols-2 w-[1200px]">
    <article class="bg-black text-white p-10 flex flex-col justify-center">
      <h2 class="text-3xl font-bold mb-4">Contact me</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Exercitationem, impedit et dolorum, fugit saepe aliquid quod cumque
        nulla quisquam aspernatur dolore consequatur deserunt quaerat possimus,
        non aliquam repudiandae. Totam, quae.
      </p>
      <button
        class="bg-white w-fit text-black px-4 py-2 rounded-xl mt-6 hover:bg-black hover:outline hover:outline-[1px] hover:text-white transition duration-300 easy-in-out"
      >
        Contact me
      </button>
    </article>
    <figure>
      <Image src={BannerImg} alt="Banner" class="w-full h-full object-cover" />
    </figure>
  </div>
</section>
