---
import XIcon from "@icons/x-icon.astro";
import InstagramIcon from "@icons/instagram-icon.astro";
import VimeoIcon from "@icons/vimeo-icon.astro";
---

<section class="flex flex-col items-center justify-center gap-2">
  <div class="flex center gap-4">
    <a href="" class="bg-black rounded-full p-1 text-white">
      <XIcon />
    </a>
    <a href="">
      <InstagramIcon />
    </a>
    <a href="" class="bg-black rounded-full p-1 text-white">
      <VimeoIcon />
    </a>
  </div>
</section>
