---
import XIcon from "@icons/x-icon.astro";
import InstagramIcon from "@icons/instagram-icon.astro";
import VimeoIcon from "@icons/vimeo-icon.astro";
---

<section class="flex flex-col items-center justify-center gap-2">
  <div class="flex center gap-4">
    <a
      href="https://x.com/"
      class="bg-black rounded-full p-1 text-white"
      aria-label="Fernando Feijoo on X"
      title="Fernando Feijoo on X"
      target="_blank"
      rel="noopener noreferrer"
    >
      <XIcon aria-hidden="true" focusable="false" />
    </a>
    <a
      href="https://instagram.com/"
      aria-label="Fernando Feijoo on Instagram"
      title="Fernando Feijoo on Instagram"
      target="_blank"
      rel="noopener noreferrer"
    >
      <InstagramIcon aria-hidden="true" focusable="false" />
    </a>
    <a
      href="https://vimeo.com/"
      class="bg-black rounded-full p-1 text-white"
      aria-label="Fernando Feijoo on Vimeo"
      title="Fernando Feijoo on Vimeo"
      target="_blank"
      rel="noopener noreferrer"
    >
      <VimeoIcon aria-hidden="true" focusable="false" />
    </a>
  </div>
</section>
