---
import Socials from "@components/Hero/Socials.astro";
---

<section class="flex pt-10 flex-col items-center justify-center gap-md">
  <img src="/public/TheFall.jpg" alt="" class="h-2/4" />
  <Socials />
</section>
