---
import Socials from "@components/Hero/Socials.astro";
import SliderImg from "@components/SliderImg.vue";
---

<section class="flex pt-10 flex-col items-center justify-center gap-md">
  <SliderImg client:load />
  <Socials />
</section>
