---
import Socials from "@components/Hero/Socials.astro";
import SliderHero from "@components/SliderHero.vue";
import ContactBanner from "@components/Hero/ContactBanner.astro";
---

<section class="flex pt-10 flex-col items-center justify-center gap-md">
  <SliderHero client:load />
  <Socials />
  <ContactBanner />
</section>
