---
import Socials from "@components/Hero/Socials.astro";
import SliderImg from "@components/SliderImg.astro";
---

<section class="flex pt-10 flex-col items-center justify-center gap-md">
  <SliderImg />
  <Socials />
</section>
