@font-face {
  font-family: "Exo";
  src: url("/public/Exo2-VariableFont_wght.woff2") format(woff2);
  font-display: swap;
}

:root {
  --white: #e9ecef;
  --black: #000000;

  --radius: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  font-size: 1.2rem;
  scroll-behavior: smooth;
  color: var(--black);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
