---
import "@styles/general.css";
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import PageBanner from "@components/PageBanner.astro";
import SliderImg from "@components/SliderImg.vue";
import Cta from "@components/Cta.astro";
import TitleSection from "@components/TitleSection.astro";
---

<Layout title="Contact">
  <SectionContainer id="contact">
    <PageBanner title="Contact" />
    <section>
      <h2 class="text-4xl text-center">
        lorem ipsum dolor sit amet lorem ipsum dolor sit amet Lorem ipsum dolor
        sit amet, consectetur adipisicing elit. Enim nulla mollitia inventore
        dolorem facilis ad modi iure alias? Neque, facilis explicabo assumenda
        temporibus eius ut ipsam modi tempore ab quo!r
      </h2>
    </section>
    <div
      class="container mx-auto px-4 max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-6"
    >
      <figure class="mx-auto w-full">
        <SliderImg client:load />
      </figure>
      <article class="flex flex-col justify-center mx-auto text-gray-800">
        <TitleSection title="Fernando Feijoo" id="profile" />
        <p class="text-sm md:text-base mt-4">
          Feijoo has an MA in Fine Art Printmaking from Winchester Art School
          and a BA in Illustration from Maidstone Kent. He trained as master
          printer at the Curwen Studio before moving into Art education. Feijoo
          is a multi-disciplinary artist who explores a wide range of medium
          with his work such as printmaking, drawing, painting, artist books and
          ceramics. Feijoo has exhibited work internationally and has won many
          prestigious prizes and awards, with work acquired in many permanent
          collections. He is also an Honorary member of the Royal Society of
          Painters & Printmakers London UK.
        </p>
        <Cta href="/contact" label="Contact me" isDark class="mt-6" />
      </article>
    </div>
  </SectionContainer>
</Layout>
