---
import Header from "@sections/Header/Header.astro";
import Footer from "@sections/Footer/Footer.astro";
---

<section id="contact">
  <Header />
  <section>
    <h1>CONTACT</h1>
  </section>
  <Footer />
</section>
