---
import "@styles/general.css";
import Layout from "../layouts/Layout.astro";
import Hero from "@components/Hero/Hero.astro";
---

<Layout title="Fernando Feijoo | Artist & Printmaker">
  <main>
    <Hero />
  </main>
</Layout>
