---
import Header from "@sections/Header/Header.astro";
import Footer from "@sections/Footer/Footer.astro";
---

<section id="profile">
  <Header />
  <section>
    <h1>Profile</h1>
  </section>
  <Footer />
</section>
