---
import "@styles/general.css";
import SectionContainer from "@components/SectionContainer.astro";
import TitleSection from "@components/TitleSection.astro";
import Layout from "@layouts/Layout.astro";
import SliderImg from "@components/SliderImg.vue";
import PageBanner from "@components/PageBanner.astro";
import ContactBanner from "@components/Hero/ContactBanner.astro";
import Cta from "@components/Cta.astro";
import MapIcon from "@icons/map-icon.astro";
import RightArrowIcon from "@icons/rightArrow-icon.astro";

const COLLECTIONS: string[] = [
  "Ashmolean Museum, Oxford, England",
  "Bodleian Library, Oxford University, England",
  "British Museum, London, England",
  "The Pallant House Prints and Drawings Collection, Chichester, West Sussex, England",
  "Jiangsu Museum of Contemporary Art, China",
  "V&A Print collection London, England",
  "University of Wales Aberystwyth, Wales",
  "Winchester School of Art Library, England",
];

const AWARDS_PUBLICATIONS: { year: number; title: string }[] = [
  {
    year: 2020,
    title:
      "Hawthorn printmaking purchase prize, RE exhibition Bankside gallery London",
  },
  {
    year: 2018,
    title:
      "The Artist’s Eye Award by Printmaking Today Magazine on artist book RUN",
  },
  {
    year: 2018,
    title:
      "Hawthorn printmaking purchase prize, RE exhibition Bankside gallery London",
  },
  { year: 2012, title: "Clifford Chance purchase prize, RE London" },
  {
    year: 2011,
    title: "London Lives Printmaking prize highly commended entry",
  },
  {
    year: 2008,
    title:
      "Winner of the London Print Studio Prize at the RE annual exhibition",
  },
  {
    year: 2007,
    title:
      "Prize winning book 14th Tallinn print triennial, held at the Kumu Art Museum Estonia",
  },
  {
    year: 2005,
    title:
      "Grant from the Birgit Skiold foundation to fund new artist book project",
  },
  {
    year: 2004,
    title:
      "Winner of the ‘Design a Book of Fables’ competition in association with the FPBA",
  },
];

const RESIDENCES: string[] = [
  "Franz Maserelle Centrum, Kasterlle, Belgium",
  "La Curtiduria Arts Centre Oaxaca, Mexico",
  "London Print Studio, London UK",
];
---

<Layout title="Profile">
  <SectionContainer>
    <PageBanner title="Profile" />
    <div
      class="container mx-auto px-4 max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-6"
    >
      <figure class="mx-auto w-full">
        <SliderImg client:load />
      </figure>
      <article class="flex flex-col justify-center mx-auto text-gray-800">
        <TitleSection title="Fernando Feijoo" id="profile" />
        <p class="text-sm md:text-base mt-4">
          Feijoo has an MA in Fine Art Printmaking from Winchester Art School
          and a BA in Illustration from Maidstone Kent. He trained as master
          printer at the Curwen Studio before moving into Art education. Feijoo
          is a multi-disciplinary artist who explores a wide range of medium
          with his work such as printmaking, drawing, painting, artist books and
          ceramics. Feijoo has exhibited work internationally and has won many
          prestigious prizes and awards, with work acquired in many permanent
          collections. He is also an Honorary member of the Royal Society of
          Painters & Printmakers London UK.
        </p>
        <Cta href="/contact" label="Contact me" isDark class="mt-6" />
      </article>
    </div>

    <section
      class="container mx-auto px-4 max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-6 mt-12"
      aria-label="Collections and Awards"
    >
      <div>
        <TitleSection title="Collections" id="collections" />
        <ul class="space-y-4 mb-8">
          {
            COLLECTIONS.map((collection) => (
              <li class="flex items-center gap-3">
                <MapIcon aria-hidden="true" class="w-5 h-5 text-gray-600" />
                <p class="text-sm md:text-base">{collection}</p>
              </li>
            ))
          }
        </ul>
        <TitleSection title="Residences" id="residences" />
        <ul class="space-y-4">
          {
            RESIDENCES.map((residence) => (
              <li class="flex items-center gap-3 italic">
                <RightArrowIcon
                  aria-hidden="true"
                  class="w-5 h-5 text-gray-600"
                />
                <p class="text-sm md:text-base">{residence}</p>
              </li>
            ))
          }
        </ul>
      </div>

      <div>
        <TitleSection title="Awards & Publications" id="awards" />
        <ul class="space-y-4">
          {
            AWARDS_PUBLICATIONS.map((award) => (
              <li class="flex items-start gap-6">
                <span class="bg-black text-white text-md font-semibold px-2 py-1 rounded">
                  {award.year}
                </span>
                <p class="text-sm md:text-base">{award.title}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section
      class="container mx-auto px-4 max-w-6xl mt-12"
      aria-label="Artist's statement"
    >
      <TitleSection
        title="Artist's statement"
        class="text-center"
        id="statement"
      />
      <p class="text-base md:text-xl mt-4 mx-auto">
        My work has a sense of humor within it even though sometimes I make
        images which reflect the darker side of human nature. I am interested in
        <em>social and political issues</em> and reflect these themes within my work.
        My narrative images have hidden layers of information within them which the
        viewer can find each time they return to the work. The closer you are drawn
        into the image, the more you understand about the characters and the lives
        they lead. The process of drawing is fundamental for me. I enjoy how it translates
        through different print processes and creates alternate styles of work. I
        see myself as a journeyman: travelling around, absorbing all the variety
        of cultural differences and architectural styles when I visit a new city,
        exploring people’s lives and conditions in the twenty first century. These
        observations are then reflected throughout my work as a series of sequential
        narrative images. I enjoy exploring new ways of making work through combining
        different media together, working with the interactions and juxtapositions
        of materials and techniques, which encourage fresh viewpoints and outcomes.
        Drawing is a powerful medium which allows me to push my ideas into different
        directions and create the fantastic. There are no rules to be followed: just
        pure experimentation and fun to be had.
      </p>
      <p class="text-2xl md:text-3xl italic text-center mt-6">
        Fernando Feijoo - Artist
      </p>
    </section>

    <ContactBanner />
  </SectionContainer>
</Layout>
