@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Exo";
  src: url("/Exo2-VariableFont_wght.woff2") format("woff2");
  font-display: swap;
}

:root {
  --space-xs: 0.4rem;
  --space-sm: 0.8rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
  --space-2xl: 4.8rem;
  --space-3xl: 6.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Exo", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-width: 1900px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
