---

---

<a href="/" class="flex min-w-[29rem] gap-3">
  <h2 class="text-4xl font-bold uppercase">Fernando Feijoo</h2>
  <div class="flex flex-col">
    <span class="-mb-1">Artist &</span>
    <span>Printmaker</span>
  </div>
</a>
