---
import "@styles/general.css";
import Logo from "@components/Header/Logo.astro";
const navItems = [
  { href: "/", text: "Home" },
  { href: "/works", text: "Works" },
  { href: "/profile", text: "Profile" },
  {
    href: "/contact",
    text: "Contact",
  },
];
const currentPath = Astro.url.pathname;
---

<header class="w-full bg-white fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto px-4 py-4">
    <div class="flex items-center justify-between">
      <Logo />

      <!-- Navegación de escritorio -->
      <nav class="hidden md:flex items-center space-x-8">
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class:list={[
                "text-sm font-medium py-2 transition-all duration-300 text-black",
                currentPath === item.href
                  ? " border-b-2 border-black"
                  : " hover:skew-x-[-10deg]",
              ]}
              aria-current={currentPath === item.href ? "page" : undefined}
            >
              {item.text}
            </a>
          ))
        }
      </nav>

      <button
        id="mobile-menu-toggle"
        class="md:hidden flex items-center p-2 rounded-md text-gray-600 hover:text-blue-600 hover:bg-gray-100 focus:outline-none transition-colors"
        aria-label="Open Nav"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          color="#000000"
          fill="none"
          class="icon-mobile-nav open-icon"
        >
          <path
            d="M10 5L20 5"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M4 12L20 12"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M4 19L14 19"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </div>

  <div
    id="mobile-menu"
    class="fixed inset-0 bg-black z-50 flex items-center justify-center transform translate-x-full transition-transform duration-500 ease-in-out md:hidden"
  >
    <button
      id="close-menu-button"
      class="absolute top-4 right-4 p-2 text-white hover:text-gray-300 focus:outline-none"
      aria-label="Close Nav"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        color="#fff"
        fill="none"
        class="icon-mobile-nav close-icon"
      >
        <path
          d="M19.0005 4.99988L5.00049 18.9999M5.00049 4.99988L19.0005 18.9999"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>

    <nav
      class="flex flex-col items-center justify-center space-y-6 w-full px-8"
    >
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class:list={[
              "text-2xl font-medium py-2 px-4 text-center transition-all duration-300 w-full ",
              currentPath === item.href
                ? "text-white w-min border-b-2 border-white"
                : "text-white hover:skew-x-[-10deg]",
            ]}
            aria-current={currentPath === item.href ? "page" : undefined}
          >
            {item.text}
          </a>
        ))
      }
    </nav>
  </div>
</header>

<div class="pt-16">
  <slot />
</div>

<style>
  body.menu-open {
    overflow: hidden;
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  #mobile-menu.menu-open a {
    animation: fadeInRight 0.5s ease forwards;
    opacity: 0;
  }

  #mobile-menu.menu-open a:nth-child(1) {
    animation-delay: 0.1s;
  }
  #mobile-menu.menu-open a:nth-child(2) {
    animation-delay: 0.2s;
  }
  #mobile-menu.menu-open a:nth-child(3) {
    animation-delay: 0.3s;
  }
  #mobile-menu.menu-open a:nth-child(4) {
    animation-delay: 0.4s;
  }
  #mobile-menu.menu-open a:nth-child(5) {
    animation-delay: 0.5s;
  }
</style>
