---
import Logo from "@components/Header/Logo.astro";

const links = [
  {
    to: "/",
    label: "Home",
  },
  {
    to: "/works",
    label: "Works",
  },
  {
    to: "/profile",
    label: "Profile",
  },
  {
    to: "/contact",
    label: "Contact",
  },
];
---

<header class="header flex items-center justify-between w-full mx-auto p-4">
  <Logo />
  <div class="flex gap-8 navigation">
    <nav class="flex items-center gap-12">
      {
        links.map((link) => (
          <a href={link.to} class="nav-link">
            {link.label}
          </a>
        ))
      }
    </nav>
  </div>
  <button class="mobile-nav flex">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      color="#000000"
      fill="none"
      class="icon-mobile-nav open-icon"
    >
      <path
        d="M10 5L20 5"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M4 12L20 12"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M4 19L14 19"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      color="#fff"
      fill="none"
      class="icon-mobile-nav close-icon"
    >
      <path
        d="M19.0005 4.99988L5.00049 18.9999M5.00049 4.99988L19.0005 18.9999"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </button>
</header>

<style>
  .header {
    position: relative;
  }
  .icon-mobile-nav {
    cursor: pointer;
    height: 2rem;
  }

  /* MEDIA QUERIES */
  @media (width>=1200px) {
    .mobile-nav {
      display: none;
    }
  }

  @media (1200px<=width<=1550px) {
    .header {
      font-size: 85%;
    }
    .logo {
      width: 7rem;
    }
  }

  @media (width<= 1200px) {
    .navigation {
      background-color: var(--bg-color);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.3s;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      z-index: 1000;
      background-color: black;
      color: white;
    }
    .mobile-nav {
      display: block;
      z-index: 1000;
    }
    .navigation nav {
      flex-direction: column;
      gap: 4rem;
      font-size: 1.2rem;
      color: var(--main-color);
    }

    .nav-open .navigation {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translate(0);
    }
    .nav-open .close-icon {
      display: block;
    }
    .nav-open .open-icon {
      display: none;
    }
    .close-icon {
      display: none;
    }
    .open-icon {
      display: block;
    }
  }
  @media (width<=550px) {
    .header {
      width: 95vw;
      left: calc((100% - 95vw) / 2);
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.querySelector(".header");
    const mobileNavButton = document.querySelector(".mobile-nav");

    mobileNavButton?.addEventListener("click", () => {
      header?.classList.toggle("nav-open");
    });
  });
</script>
