---
const { title } = Astro.props;
---

<section
  class="relative w-full h-[400px] flex justify-center items-center bg-cover bg-center"
  style={`background-image: url(/bannerimg.jpg)`}
>
  <div class="absolute inset-0 bg-black bg-opacity-30"></div>
  <h2 class="relative z-10 text-white text-4xl font-bold text-center">
    {title}
  </h2>
</section>
