---
interface Props {
  title: string;
  class?: string;
  id?: string;
}

const { title, class: className = "", id } = Astro.props;
---

<h3
  class:list={["font-bold text-2xl sm:text-3xl md:text-5xl mb-6", className]}
  {id}
>
  <slot>{title}</slot>
</h3>
